@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<form action="/NhanVien/LietKeDanhSach" method="post">
    <input name="so" type="number" />
    <input type="submit" />
</form>
