
@model List<Object>
<table border="1">
    <tr>
        <th>
            Tên Nhân Viên
        </th>
        <th>
            Số Điện Thoại
        </th>
        <th>
            Số Lần Sửa
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.GetType().GetProperty("TenNhanVien").GetValue(item, null)</td>
        <td>@item.GetType().GetProperty("SoDienThoai").GetValue(item, null)</td>
        <td>@item.GetType().GetProperty("SoLanSua").GetValue(item, null)</td>
    </tr>
        
    }
</table>
